/* google reset */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,300;1,400&display=swap');
/* variables */
:root {
    --primary-color: #C0EEE4;
    --secondary-color:yellow;
}
/* CSS RESET */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
}
a{
    text-decoration: none;
    text-align: center;
  }
body {
    font-family:'Poppins', sans-serif;
    line-height: 1.54;
    text-align: center;
}
img{
    width: 100%;
    display: block;
}
.container {
    max-width: 1200px;
    padding: 0 1.5rem;
    margin:auto;
    overflow: hidden;
}
#about{
   height:100vh;
   background-color:#F8F988;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
}
#navbar {
    background-color:var(--primary-color);
    color:black;
    padding: 0rem 3rem;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100vw;
    top: 0;
	left: 0;
	right: 0;
}
#navbar ul {
    list-style: none;
    display: flex;
}
#navbar ul a {
    display: inline-block;
    padding: 1.2rem 2rem;
    background-position: center;
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-weight: 500;
}
#navbar ul a:hover {
    background-color:#FF9E9E;
}
#about .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#title {
    color:black;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.lead{
    font-size: 1.8rem;
    color: black;
    font-weight: 700;
    margin:0;
}
.projects-section {
    text-align: center;
    padding: 4rem 2rem;
    font-size: .9rem;
    font-weight: bold;
    background: #FFCAC8;
  } 
.projects-section-header {
    max-width: 640px;
    margin-bottom: 4em;
    width:fit-content;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid black;
  }
@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
      }
    }
  /* "Automagic" image grid using no media queries */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  @media (max-width: 30.625em) {
.projects-section {
      padding: 6rem 1rem;
    }
.project-grid {
      grid-template-columns: 1fr;

    }
  }
.project {
    background:#444;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 1px;
  }
.code {
    transition: color 0.3s ease-in-out;
  }
.project:hover .code {
    color: #FDFF00;
  }
.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }
.project-title {
    font-size: 1.4rem;
    color: #fff;
    padding: 2rem 0.5rem;
}
  /* Contact section */
#contact {
    width:100%;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content:center;
    background-color: #FF9E9E;
    color:#fff;
}
#contact h3 {
    font-size: 3.2rem;
    font-weight: bold;
    padding: 0 3rem;
    padding-top: 105px;
    padding-bottom: .1rem;
    color:black;
    line-height: 1;
}
@media (max-width: 28.75em) {
  .contact > h3 {
    font-size: 4rem;
  }
}
#contact p {
 font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  font-style: italic;
  color:black;
}
.fab,.fas {
  color: black;
  padding-left: 1rem;
}
.btn-contact{
  color: black;
  font-size: 2em;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.2s ease-out;
}
@media (max-width:950px){
  .btn-contact{
    font-size:1.6em;
  }
}
@media (max-width:640px){
  .btn-contact{
    font-size:1.4em;
  }
}
.btn-contact:hover {
  transform: translateY(7px);
}
#contact-options{
  margin-top: 56px;
}
#footer{
  height:9vh ;
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  background-color: #FF9E9E;
  padding-bottom:2rem;
  color:black;
  border-top:solid 4px var(--primary-color);
}
.footer i {
    vertical-align: middle;
  }
#copyright{
  padding-top:3.5vh;
  text-align: center;
  margin-top: 0;
  font-size: larger;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: .9vh;
}
@media(max-width:525px){
  #copyright{
  font-size: .9em;
}
}
@media(max-width:400px){
  #copyright{
  font-size: .8em;
}
}