/* google reset */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,300;1,400&display=swap');
/* variables */
:root {
    --primary-color: #278EA5;
    --secondary-color:yellow;
}
/* CSS RESET */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    text-align: center;
  }
body {
    font-family:'Poppins', sans-serif;
    line-height: 1.54;
    text-align: center;
}
img{
    width: 100%;
    display: block;
}
.container {
    max-width: 1200px;
    padding: 0 1.5rem;
    margin:auto;
    overflow: hidden;
}
#about{
   height:100vh;
   background-color:#071E4D;
   font-size: 2rem;
}
#navbar {
    background-color:var(--primary-color);
    color:black;
    padding: 0rem 3rem;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100vw;
    top: 0;
	left: 0;
	right: 0;
	box-shadow: 0px 1px 3px black;
}
#navbar ul {
    list-style: none;
    display: flex;
}
#navbar ul a {
    display: inline-block;
    padding: 1.2rem 2rem;
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-weight: 500;
}
#navbar ul a:hover {
    background-color:#A10035;
}
#about .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#title {
    color:#fff;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.lead{
    font-size: 1.8rem;
    color: #fff;
    font-weight: 700;
    margin:0;
}
.projects-section {
    text-align: center;
    padding: 4rem 2rem;
    font-size: .9rem;
    font-weight: bold;
    background: yellowgreen;
  } 
.projects-section-header {
    max-width: 640px;
    margin-bottom: 4em;
    width:fit-content;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid black;
  }
  @media (max-width: 28.75em) {
    .projects-section-header {
        font-size: 4rem;
      }
    }
  /* "Automagic" image grid using no media queries */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  @media (max-width: 30.625em) {
.projects-section {
      padding: 6rem 1rem;
    }
.project-grid {
      grid-template-columns: 1fr;

    }
  }
.project {
    background:#444;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 1px;
  }
.code {
    transition: color 0.3s ease-in-out;
  }
.project:hover .code {
    color: #ff7f50;
  }
.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }
.project-title {
    font-size: 1.4rem;
    color: #fff;
    padding: 2rem 0.5rem;
}
.btn {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  display: inline-block;
  padding: .6rem 1.1rem;
  background-color: #444;
  border-radius: 2px;
  margin-bottom: 1rem;
  transition: all .5s ease-in-out;
 }
 .btn:hover {
     background-color: #54B435;
 }
  /* Contact section */
#contact {
    height:70vh;
    width:100%;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: #BEAEE2;
    color:#fff;
}
#contact .container h3 {
    font-size: 3.4rem;
    font-weight: bold;
    color:black;
    line-height: 1;
}
.contact-section-header > h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}
#contact .container p {
 font-size: 1.7rem;
  font-weight: 700;
  font-style: italic;
  color:black;
}
.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  flex-wrap: wrap;
}
.contact-details {
  font-size: 2.4rem;
  color: black;
  display: block;
  font-weight: bold;
  padding:0 8px;
  margin-bottom: 9rem;
  transition: transform 0.3s;
}
.contact-details:hover {
  transform: translateY(8px);
}
#footer{
  height:9vh ;
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  background-color: #BEAEE2;
  padding-bottom:2rem;
  color:black;
  border-top:solid 4px var(--primary-color);
}
.footer i {
    vertical-align: middle;
  }
#copyright{
  padding-top:3.5vh;
  text-align: center;
  margin-top: 0;
  font-size: larger;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: .9vh;
}
@media(max-width:525px){
  #copyright{
  font-size: .9em;
}
}
@media(max-width:400px){
  #copyright{
  font-size: .8em;
  }
}